<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./accueil.css">
    <title>Bienvenue - Les Bienfaits de la Spiruline</title>
  
</head>
<body>
    <header>
        <% if (user) { %> 
                <p id="hidenid"><%= user.id %></p>
                <% } %>
        <section class="header">
            
            <section class="logo">
                <img src="logo.png" alt="logo">
            </section>
            <section class="boxtextheader"><% if (user) { %>
              <h3 class="nomutilisateur">Bienvenue, <%= user.username %>! </h3>
          <% } %>
             </section>
            <nav>
       <ul class="nav-buttons">
        <li><a href="/indextest" id="indextest" class="btn">Accueil</a></li>
        <li><a href="/history" id="history" class="btn">L'histoire de la spiruline</a></li>
        <li><a href="/produis" id="produis" class="btn">Nos produits</a></li>
        <li><a href="#" class="btn">Témoignages</a></li>
        <li><a href="#" class="btn">Contact</a></li>
       <% if (!user) { %>
        <li><a href="/register" class="btn">Nous rejoindre</a></li>
        <li><a href="/login" class="btn">Connection</a> </li>
    <% } else { %>
        <li><a href="/logout" class="btn">Déconnexion</a></li>
                <% } %>
            </ul>
        </nav>
             </section>
      </header>
      <main>
      <section class="boximgheader">
        <img src="./img/img04.jpeg" alt="image maquette ! ">
      </section>
      <section class="imgtext">
    <section class="textepagedaccueil">
    
        <h3 class="titre">Qu'est-ce que la Spiruline?</h3>

    <section class="text-block">
            <p>
                La spiruline est une micro-algue bleu-vert qui existe depuis des milliards d'années. Utilisée depuis des siècles pour ses vertus nutritionnelles exceptionnelles, elle est aujourd'hui reconnue comme un superaliment grâce à sa richesse en protéines, vitamines, minéraux et antioxydants.
            </p>
        </section> 
        <section class="text-block">
            <h2>Les Bienfaits de la Spiruline pour la Santé</h2>
            <p>
                Consommer de la spiruline peut avoir de nombreux effets positifs sur votre santé globale :
                    <strong>Renforcement du Système Immunitaire :</strong> Grâce à sa haute teneur en antioxydants, la spiruline aide à protéger les cellules du corps contre les dommages et renforce le système immunitaire.
                    <strong>Amélioration de l'Énergie et de la Vitalité :</strong> La spiruline est riche en protéines, vitamines B et fer, qui sont essentiels pour maintenir des niveaux d'énergie élevés et réduire la fatigue.
                    <strong>Soutien à la Santé Cardiovasculaire :</strong> Elle aide à réduire le taux de mauvais cholestérol et à améliorer la circulation sanguine, ce qui est bénéfique pour la santé du cœur.
                </p>
        </section> 
        <h2 class="titre">Les Bienfaits pour le Corps</h2>
        <section class="text-block">
            <p>
                En intégrant la spiruline dans votre alimentation, vous pouvez constater des améliorations notables au niveau physique :
                
                    <strong>Détoxification :</strong> La spiruline aide à éliminer les toxines du corps, notamment les métaux lourds, grâce à sa capacité de liaison aux toxines.
                    <strong>Maintien du Poids Santé :</strong> Elle aide à contrôler l'appétit et favorise un métabolisme sain, ce qui peut être utile pour la gestion du poids.
                    <strong>Santé Musculaire :</strong> En tant que source complète de protéines, la spiruline est idéale pour les athlètes et ceux qui cherchent à construire ou maintenir leur masse musculaire.
                
            </p>
        </section> 
        <h2 class="titre">Les Bienfaits pour l'Esprit</h2>
        <section class="text-block">
            <p>
                La spiruline ne bénéficie pas seulement à votre corps, mais aussi à votre esprit :
                    <strong>Réduction du Stress :</strong> Les nutriments présents dans la spiruline, tels que le magnésium, aident à réduire le stress et à améliorer l'humeur.
                    <strong>Amélioration de la Concentration :</strong> Les acides gras essentiels et les vitamines B favorisent une meilleure fonction cognitive et une concentration accrue.
                    <strong>Soutien à la Santé Mentale :</strong> La spiruline peut contribuer à réduire les symptômes de dépression et d'anxiété grâce à ses propriétés anti-inflammatoires et antioxydantes.
                
            </p>
        </section>
    </section>
</section>
</main>
    <footer>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
      const hidenid = document.getElementById('hidenid').innerHTML;
      const userId = hidenid ;
      document.getElementById("hidenid").style.display = "none"
      const userLinkaccueil = document.getElementById('indextest');
      userLinkaccueil.href = `/indextest?userId=${encodeURIComponent(userId)}`;
      const userLinkproduis = document.getElementById('produis');
      userLinkproduis.href = `/produis?userId=${encodeURIComponent(userId)}`;
      const userLinkhistory = document.getElementById('history');
      userLinkhistory.href = `/history?userId=${encodeURIComponent(userId)}`;
    });
        </script>
       
</body>
</html>
