<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histoire de la Spiruline</title>
    
    <link rel="stylesheet" href="./accueil.css">
</head>
<body>
    <header>
        <% if (user) { %> 
                <p id="hidenid"><%= user.id %></p>
                <% } %>
        <section class="header">
            
            <section class="logo">
                <img src="logo.png" alt="logo">
            </section>
            <section class="boxtextheader"><% if (user) { %>
              <h3 class="nomutilisateur">Bienvenue, <%= user.username %>! </h3>
          <% } %>
             </section>
            <nav>
       <ul class="nav-buttons">
        <li><a href="/indextest" id="indextest" class="btn">Accueil</a></li>
        <li><a href="/accueil" id="accueil" class="btn">A propos</a></li>
        <li><a href="/produis" id="produis" class="btn">Nos produits</a></li>
        <li><a href="#" class="btn">Témoignages</a></li>
        <li><a href="#" class="btn">Contact</a></li>
       <% if (!user) { %>
        <li><a href="/register" class="btn">Nous rejoindre</a></li>
        <li><a href="/login" class="btn">Connection</a> </li>
    <% } else { %>
        <li><a href="/logout" class="btn">Déconnexion</a></li>
                <% } %>
            </ul>
        </nav>
             </section>
      </header>
      <main>
        <section class="boximgheader">
          <img src="./img/img02.jpeg" alt="image maquette ! ">
        </section>
        <section class="imgtext">
      <section class="textepagedaccueil">
      
          <h2 class="titre">L'Histoire de la Spiruline</h2>
   
          <h3 class="titre">Origines et Découverte</h3>
          <section class="text-block">
              <p>La spiruline est une cyanobactérie, souvent appelée "algue bleue-verte", qui est apparue sur Terre il y a environ 3,5 milliards d'années. Elle tire son nom de sa forme hélicoïdale (spirale) et de sa couleur distincte. Bien que microscopique, cette bactérie a joué un rôle crucial dans l'évolution de la vie sur Terre en contribuant à la production d'oxygène à travers la photosynthèse.
                  </p>
          </section> 
          <h3 class="titre">Les Premiers Utilisateurs</h3>
          <section class="text-block">
              <p>
                La spiruline a été consommée par différentes civilisations bien avant qu'elle ne soit redécouverte par les scientifiques modernes. Les Aztèques du Mexique sont parmi les premiers peuples connus pour avoir utilisé la spiruline. Ils la récoltaient dans le lac Texcoco, où elle se développait naturellement. Les Aztèques la consommaient sous forme de gâteaux appelés "tecuitlatl", réputés pour leur haute valeur nutritive. Des explorateurs espagnols ont également observé la consommation de spiruline par les Aztèques lors de leur arrivée en Amérique centrale au XVIe siècle.

                En Afrique, des tribus du Kanem, dans la région du lac Tchad, récoltaient et consommaient la spiruline depuis des siècles. Ils la transformaient en galettes appelées "dihé", qui étaient vendues sur les marchés locaux et constituaient une source importante de nutrition.
              </p>
          </section> 
          <h3 class="titre">La Redécouverte Scientifique</h3>
          <section class="text-block">
              <p>La spiruline est restée relativement inconnue en dehors de ces régions jusqu'au XXe siècle. Dans les années 1940 et 1950, des botanistes et microbiologistes commencèrent à redécouvrir ses propriétés uniques. C'est surtout à partir des années 1960 que la spiruline attira l'attention de la communauté scientifique. Des chercheurs français, notamment Jean Léonard et Pierre Clément, étudièrent les propriétés nutritionnelles et les potentiels bienfaits de la spiruline pour la santé humaine.

                En 1967, la spiruline fut présentée à la conférence sur les algues au Centre de recherches agronomiques tropicales de l’ORTOM, à Mexico. Cette présentation marqua le début de l'intérêt global pour la spiruline en tant que superaliment.
              </p>
          </section>
          <h3 class="titre">L'Émergence en Tant que Superaliment</h3>
          <section class="text-block">
            <p>La spiruline est riche en protéines complètes, vitamines (comme la vitamine B12), minéraux (comme le fer), et antioxydants. Ces qualités nutritionnelles ont conduit à sa popularité croissante comme complément alimentaire. Dans les années 1970, la NASA et l'Agence spatiale européenne (ESA) s'intéressèrent à la spiruline pour ses applications potentielles dans les régimes alimentaires des astronautes lors de missions spatiales prolongées, en raison de sa haute densité nutritionnelle et de sa capacité à se cultiver dans des environnements contrôlés.</p>
      
        </section>
        <h3 class="titre">Production et Consommation Modernes</h3>
        <section class="text-block">
            <p>Aujourd'hui, la spiruline est cultivée dans des fermes aquatiques à travers le monde, notamment en Chine, en Inde, aux États-Unis, et dans certaines régions d'Afrique et d'Amérique latine. La production commerciale de spiruline se fait dans des bassins d'eau douce contrôlés, où des conditions optimales sont maintenues pour maximiser la croissance et la pureté de la spiruline.

                Elle est commercialisée sous diverses formes, notamment en poudre, en comprimés, et en capsules, et est largement utilisée dans les smoothies, les barres énergétiques, et même certains plats gastronomiques. La spiruline est particulièrement prisée par les adeptes de l'alimentation saine et les sportifs pour ses bienfaits potentiels sur la performance, l'endurance, et la récupération.</p>
            
        </section>
        <h3 class="titre">Potentiel et Perspectives Futures</h3>
        <section class="text-block">
            <p>Outre ses usages alimentaires, la spiruline est explorée pour ses applications dans la santé publique, en particulier dans les régions touchées par la malnutrition. Des organisations non gouvernementales (ONG) et des programmes de santé publique encouragent la culture locale de spiruline comme solution durable et nutritive pour lutter contre la faim et les carences alimentaires.

                La recherche continue également à explorer les propriétés médicinales de la spiruline, y compris ses effets antioxydants, anti-inflammatoires, et immunomodulateurs. Il existe un potentiel croissant pour la spiruline dans le domaine des cosmétiques, en raison de ses propriétés bénéfiques pour la peau.</p>
           
        </section>
        <h3 class="titre">Conclusion</h3>
        <section class="text-block">
            <p>L'histoire de la spiruline est celle d'une ancienne cyanobactérie qui a traversé des milliards d'années pour devenir aujourd'hui un superaliment moderne aux multiples applications. De sa consommation par les anciennes civilisations aztèques et africaines à son adoption par les astronautes et les amateurs de santé moderne, la spiruline continue de captiver l'imagination et de nourrir le monde. Son potentiel pour répondre aux défis nutritionnels et de santé du futur reste immense, faisant de cette modeste algue bleue-verte un véritable trésor biologique.</p>
           
        </section>
      </section>
  </section>
  </main>
        
   <!-- <footer>
        <p>&copy; 2024 Histoire de la Spiruline</p>
    </footer>-->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
      const hidenid = document.getElementById('hidenid').innerHTML;
      const userId = hidenid ;
      document.getElementById("hidenid").style.display = "none"
      const userLinkaccueil = document.getElementById('indextest');
      userLinkaccueil.href = `/indextest?userId=${encodeURIComponent(userId)}`;
      const userLinkproduis = document.getElementById('produis');
      userLinkproduis.href = `/produis?userId=${encodeURIComponent(userId)}`;
      const userLinkapropos = document.getElementById('accueil');
      userLinkapropos.href = `/accueil?userId=${encodeURIComponent(userId)}`;
    });
        </script>
</body>
</html>
