<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>My E-Commerce</title>


</head>
<body>
    <header>
        <p id="hidenid"><%= user.id %></p>
        <div id="mySidenav" class="sidenav">
          <a id="closeBtn" href="#" class="close">×</a>
          <ul>
            <li><a href="#">A propos</a></li>
            <li><a href="/history" id="history">L'histoire de la spiruline</a></li>
            <li><a href="/produis" id="produis">Nos produits</a></li>
            <li><a href="#">Témoignages</a></li>
            <li><a href="#">Contact</a></li>
            <% if (!user) { %>
              <li><a href="/register">Nous rejoindre</a></li>
              <li><a href="/login">Connection</a> </li>
          <% } else { %>
              <li></li><a href="/logout">Déconnexion</a></li>
                      <% } %> 
                
        
          </ul>
        </div>
        
    <section class="boxburgericon">  
        <a href="#" id="openBtn">
          <span class="burger-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
      </section>  
       <section class="boxtextheader"><% if (user) { %>
        <h3 class="nomutilisateur">Bienvenue, <%= user.username %>! </h3>
    <% } %>  </section>
      </header>
      <main>
        <section class="boximgheader">
          <img src="./img/imgmaquette01.jpg" alt="image maquette ! ">
        </section>
        <article class="article01">
          <h1>TITRE</h1>
          <p>Sed a ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        </article>
        <section class="boximgbody">
          <img src="./img/imgbody01.jpg" alt="image maquette ! ">
          <img src="./img/imgbody01.jpg" alt="image maquette ! ">
          <img src="./img/imgbody01.jpg" alt="image maquette ! ">
        </section>
        <article class="article01">
          <h1>TITRE</h1>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        </article>
    
      <section id="donnéesmysql"></section>
      </main>
      <footer>
      </footer>
      <script>
      document.addEventListener('DOMContentLoaded', () => {
    const hidenid = document.getElementById('hidenid').innerHTML;
    const userId = hidenid ;
    const userLinkhistory = document.getElementById('history');
    userLinkhistory.href = `/history?userId=${encodeURIComponent(userId)}`;
    const userLinkproduis = document.getElementById('produis');
    userLinkproduis.href = `/produis?userId=${encodeURIComponent(userId)}`;
  });
      </script>
   
    <script src="./main.js"></script>
</body>
</html>