#bloctext {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    text-align: center;
}

#bloctext h2 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #333;
}

#bloctext p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}